<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ola's Blog</title>
	<link rel="stylesheet" href="">
</head>
<body>

	<div>
		<h1><a href="">Django Girls Blog</a></h1>
	</div>
	
	<div>
		<p>Published: 14.06.2015</p>
		<h2><a href="">My First Post</a></h2>
		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	</div>

	<div>
		<p>Published: 23.06.2015</p>
		<h2><a href="">My Second Post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime rem, quod vitae doloribus dignissimos voluptatibus ratione, reprehenderit sed illo id. Voluptas tempora repellendus nobis aut soluta qui possimus maiores ad!</p>
	</div>

</body>
</html>